<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.public.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BindAddress" value="0.0.0.0"/>
    <add key="MediaUrl" value="http://localhost:5000/media/" />
  </appSettings>
  <connectionStrings>
    <add name="ThePalaceEntities" connectionString="Server=localhost,1433;Database=ThePalace;integrated security=False;User Id=thepalace;Password=P@ssw0rd;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>